
.contac{
	background:#F7F7F7;
	border-bottom:1px solid #fff;
	margin-top:20px;
	margin-left:0px;
	top:50px;
	padding:10px;
}
.contac h2{
	margin:0 auto;
	margin-left:350px;
}
.icon{
	width:260px;
	height:50px;
	background:#fff;
	float:left;
	padding:15px 80px;
	position:relative;
	top:0px;
	display:inline-block;
	margin-bottom:20px;
	margin-right: px;
}
.icon i{
	top:20px;
	position:absolute;
	height:50px;
	width:50px;
	float:left;
	left:8px;
	left:15px;
	text-align:center;
	font-size:30px;
	line-height:50px;
	transition:0.7s ease;
}
.icon i:hover{
	background:#000;
	color:#fff;
	transform:scale(.7);
}
.icon p{
	top:10px;
	position:relative;
	margin-bottom: 0px;
}
.foot {
	padding: 5px;
	background: #343A40;
	color: #fff;
	margin-top:20px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 1040px;
	bottom: -90px;
	
}
.foot p{
	margin-left: 0px;
	margin-top: 20px;
	font-size: 16px;
}

